{% extends 'base.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block body %}
<style>
    
</style>

<div class="loginForm">
    <h1>Connexion</h1>

    <form action="/signin" method="POST">

        <label for="email">Email :</label>
        <input type="varchar(50)" id="email" name="email">

        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="password">

        <input type="submit" value="Connexion">
    </form>
</div>
{% endblock %}
