{% extends 'base.html.twig' %}

{% block title %}Hello DedicatedSpaceController!{% endblock %}

{% block body %}
<style>
    
    body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: white;
    margin: 0;
    padding: 20px;
    }

    h1 {
        color: #ff6b01;
        text-align: center;
        font-size: 2em;
        margin-bottom: 20px;
    }

    ul {
        list-style-type: none;
        padding: 0;
        max-width: 400px;
        margin: 0 auto;
    }

    li {
        margin: 15px 0;
    }

    a {
        text-decoration: none;
        color: #333;
        background-color: #ff6b01;
        padding: 10px 20px;
        display: block;
        border-radius: 5px;
        text-align: center;
        font-size: 1.2em;
    }

    .dedicatedSpace {
        margin: 50px auto;
        max-width: 600px;
        text-align: center;
    }
</style>

<div class="dedicatedSpace">
    <h1>Espace dédié</h1>

    <ul>
        <li><a href="/car">Véhicules</a></li>
        <li><a href="/photo">Photos véhicules</a></li>
        <li><a href="/notice">Avis</a></li>
        {% if user.isIsAdmin() %}
            <li><a href="/service">Services</a></li>
            <li><a href="/openhours">Horaires</a></li>
            <li><a href="/user">Utilisateurs</a></li>
        {% endif %}
    </ul>
</div>
{% endblock %}
