<header>
    <div class="imageLogo">
        <a href="/">
            <img src="{{ asset("images/JiKaNaLogo.png") }}" alt="Logo"/>
            <h1>Jikana</h1>
        </a>
    </div>
    <div class="btnlogin">
        <a href="/login"><button>se connecter</button></a>
    </div>
</header>